
/* rajdhani-normal - latin */
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: regular;
  src: url('http://lib.baomitu.com/fonts/rajdhani/rajdhani-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Rajdhani'), local('Rajdhani-Normal'),
       url('http://lib.baomitu.com/fonts/rajdhani/rajdhani-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://lib.baomitu.com/fonts/rajdhani/rajdhani-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('http://lib.baomitu.com/fonts/rajdhani/rajdhani-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('http://lib.baomitu.com/fonts/rajdhani/rajdhani-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('http://lib.baomitu.com/fonts/rajdhani/rajdhani-v7-latin-regular.svg#Rajdhani') format('svg'); /* Legacy iOS */
}
  
/* rajdhani-normal - latin */
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 600;
  src: url('http://lib.baomitu.com/fonts/rajdhani/rajdhani-v7-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Rajdhani'), local('Rajdhani-Normal'),
       url('http://lib.baomitu.com/fonts/rajdhani/rajdhani-v7-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://lib.baomitu.com/fonts/rajdhani/rajdhani-v7-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('http://lib.baomitu.com/fonts/rajdhani/rajdhani-v7-latin-600.woff') format('woff'), /* Modern Browsers */
       url('http://lib.baomitu.com/fonts/rajdhani/rajdhani-v7-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('http://lib.baomitu.com/fonts/rajdhani/rajdhani-v7-latin-600.svg#Rajdhani') format('svg'); /* Legacy iOS */
}
  